<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form Validation</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap-4/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/fa/css/font-awesome.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Form Validation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registration-form">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container mt-4">
  <p class="display-4 text-capitalize">Form Validate successfully.</p>
</div>













<script src="/javascripts/jquery/jquery-3.2.1.min.js"></script>
<script src="/javascripts/jv/jv.min.js"></script>
<script src="/javascripts/jv/lettersonly.js"></script>
<script src="/javascripts/jv/nowhitespace.js"></script>
<script src="/javascripts/jquery/popper.js"></script>
<script src="/stylesheets/bootstrap-4/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>

